@font-face {
  font-family: 'juta-icon';
  src:
    url('fonts/juta-icon.ttf?l6ddxs') format('truetype'),
    url('fonts/juta-icon.woff?l6ddxs') format('woff'),
    url('fonts/juta-icon.svg?l6ddxs#juta-icon') format('svg');
  font-weight: 400;
  font-style: normal;
}

[class^="juta-icon-"], [class*=" juta-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'juta-icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  padding-right: 12px;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



.juta-icon-add-user:before {
  content: "\e900";
}
.juta-icon-network:before {
  content: "\e901";
}
.juta-icon-flickr:before {
  content: "\e902";
}
.juta-icon-linkedin-with-circle:before {
  content: "\e903";
}
.juta-icon-book:before {
  content: "\e904";
}
.juta-icon-alert:before {
  content: "\f02d";
}
.juta-icon-calendar:before {
  content: "\f068";
}
.juta-icon-check:before {
  content: "\f03a";
}
.juta-icon-checklist:before {
  content: "\f076";
}
.juta-icon-clock:before {
  content: "\f046";
}
.juta-icon-comment:before {
  content: "\f02b";
}
.juta-icon-device-camera:before {
  content: "\f056";
}
.juta-icon-file-directory:before {
  content: "\f016";
}
.juta-icon-file-media:before {
  content: "\f012";
}
.juta-icon-file-pdf2:before {
  content: "\f014";
}
.juta-icon-file-submodule:before {
  content: "\f017";
}
.juta-icon-file-symlink-directory:before {
  content: "\f0b1";
}
.juta-icon-file-text:before {
  content: "\f011";
}
.juta-icon-file-zip:before {
  content: "\f013";
}
.juta-icon-gift:before {
  content: "\f042";
}
.juta-icon-location:before {
  content: "\f060";
}
.juta-icon-lock:before {
  content: "\f06a";
}
.juta-icon-mortar-board:before {
  content: "\f0d7";
}
.juta-icon-organization:before {
  content: "\f037";
}
.juta-icon-person:before {
  content: "\f018";
}
.juta-icon-sign-in:before {
  content: "\f036";
}
.juta-icon-sign-out:before {
  content: "\f032";
}
.juta-icon-tools:before {
  content: "\f031";
}
.juta-icon-home:before {
  content: "\e905";
}
.juta-icon-home3:before {
  content: "\e906";
}
.juta-icon-office:before {
  content: "\e907";
}
.juta-icon-images:before {
  content: "\e90e";
}
.juta-icon-spades:before {
  content: "\e917";
}
.juta-icon-clubs:before {
  content: "\e918";
}
.juta-icon-cart:before {
  content: "\e93a";
}
.juta-icon-map:before {
  content: "\e94b";
}
.juta-icon-download:before {
  content: "\e960";
}
.juta-icon-bubbles2:before {
  content: "\e96d";
}
.juta-icon-users:before {
  content: "\e972";
}
.juta-icon-hour-glass:before {
  content: "\e979";
}
.juta-icon-spinner:before {
  content: "\e97a";
}
.juta-icon-hammer:before {
  content: "\e996";
}
.juta-icon-bug:before {
  content: "\e999";
}
.juta-icon-stats-dots:before {
  content: "\e99b";
}
.juta-icon-stats-bars2:before {
  content: "\e99d";
}
.juta-icon-power-cord:before {
  content: "\e9b7";
}
.juta-icon-linkedin:before {
  content: "\eac9";
}
.juta-icon-linkedin2:before {
  content: "\eaca";
}
.juta-icon-chrome:before {
  content: "\ead9";
}
.juta-icon-firefox:before {
  content: "\eada";
}
.juta-icon-IE:before {
  content: "\eadb";
}
.juta-icon-edge:before {
  content: "\eadc";
}
.juta-icon-file-pdf:before {
  content: "\eadf";
}
.juta-icon-file-word:before {
  content: "\eae1";
}
.juta-icon-file-excel:before {
  content: "\eae2";
}
.juta-icon-codepen:before {
  content: "\eae8";
}

