@font-face {
  font-family: 'juta-portfolio-icon';
  src:
    url('fonts/juta-portfolio-icon.ttf?a2e6hq') format('truetype'),
    url('fonts/juta-portfolio-icon.woff?a2e6hq') format('woff'),
    url('fonts/juta-portfolio-icon.svg?a2e6hq#juta-portfolio-icon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="juta-portfolio-icon-"], [class*=" juta-portfolio-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'juta-portfolio-icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  padding-right: 9px;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.juta-portfolio-icon-uct-press:before {
  content: "\e926";
}
.juta-portfolio-icon-account_box:before {
  content: "\e851";
}
.juta-portfolio-icon-contact_mail:before {
  content: "\e0d0";
}
.juta-portfolio-icon-contact_phone:before {
  content: "\e0cf";
}
.juta-portfolio-icon-contacts:before {
  content: "\e0ba";
}
.juta-portfolio-icon-gavel2:before {
  content: "\e90e";
}
.juta-portfolio-icon-library_books:before {
  content: "\e02f";
}
.juta-portfolio-icon-print:before {
  content: "\e8ad";
}
.juta-portfolio-icon-nature_people:before {
  content: "\e407";
}
.juta-portfolio-icon-person:before {
  content: "\e7fd";
}
.juta-portfolio-icon-book4:before {
  content: "\e902";
}
.juta-portfolio-icon-tag:before {
  content: "\e903";
}
.juta-portfolio-icon-book5:before {
  content: "\e905";
}
.juta-portfolio-icon-user:before {
  content: "\e906";
}
.juta-portfolio-icon-graduate:before {
  content: "\e908";
}
.juta-portfolio-icon-archive:before {
  content: "\e909";
}
.juta-portfolio-icon-library2:before {
  content: "\e90a";
}
.juta-portfolio-icon-auction:before {
  content: "\e90b";
}
.juta-portfolio-icon-justice:before {
  content: "\e90c";
}
.juta-portfolio-icon-book6:before {
  content: "\e90d";
}
.juta-portfolio-icon-book7:before {
  content: "\e90f";
}
.juta-portfolio-icon-barcode2:before {
  content: "\e910";
}
.juta-portfolio-icon-barcode3:before {
  content: "\e911";
}
.juta-portfolio-icon-bookmark3:before {
  content: "\e912";
}
.juta-portfolio-icon-bookmark4:before {
  content: "\e913";
}
.juta-portfolio-icon-user2:before {
  content: "\e914";
}
.juta-portfolio-icon-mail:before {
  content: "\e915";
}
.juta-portfolio-icon-aperture:before {
  content: "\e916";
}
.juta-portfolio-icon-book2:before {
  content: "\e904";
}
.juta-portfolio-icon-alert:before {
  content: "\f02d";
}
.juta-portfolio-icon-book8:before {
  content: "\f007";
}
.juta-portfolio-icon-calendar:before {
  content: "\f068";
}
.juta-portfolio-icon-database:before {
  content: "\f096";
}
.juta-portfolio-icon-file-pdf2:before {
  content: "\f014";
}
.juta-portfolio-icon-law:before {
  content: "\f0d8";
}
.juta-portfolio-icon-mail2:before {
  content: "\f03b";
}
.juta-portfolio-icon-mail-read:before {
  content: "\f03c";
}
.juta-portfolio-icon-microscope:before {
  content: "\f089";
}
.juta-portfolio-icon-mortar-board:before {
  content: "\f0d7";
}
.juta-portfolio-icon-package:before {
  content: "\f0c4";
}
.juta-portfolio-icon-paintcan:before {
  content: "\f0d1";
}
.juta-portfolio-icon-repo:before {
  content: "\f001";
}
.juta-portfolio-icon-repo-pull:before {
  content: "\f006";
}
.juta-portfolio-icon-search:before {
  content: "\f02e";
}
.juta-portfolio-icon-sign-in:before {
  content: "\f036";
}
.juta-portfolio-icon-sign-out:before {
  content: "\f032";
}
.juta-portfolio-icon-tools:before {
  content: "\f031";
}
.juta-portfolio-icon-trashcan:before {
  content: "\f0d0";
}
.juta-portfolio-icon-versions:before {
  content: "\f064";
}
.juta-portfolio-icon-office:before {
  content: "\e907";
}
.juta-portfolio-icon-connection:before {
  content: "\e91b";
}
.juta-portfolio-icon-book:before {
  content: "\e91f";
}
.juta-portfolio-icon-books:before {
  content: "\e920";
}
.juta-portfolio-icon-library:before {
  content: "\e921";
}
.juta-portfolio-icon-profile:before {
  content: "\e923";
}
.juta-portfolio-icon-stack:before {
  content: "\e92e";
}
.juta-portfolio-icon-cart:before {
  content: "\e93a";
}
.juta-portfolio-icon-credit-card:before {
  content: "\e93f";
}
.juta-portfolio-icon-map:before {
  content: "\e94b";
}
.juta-portfolio-icon-map2:before {
  content: "\e94c";
}
.juta-portfolio-icon-calendar2:before {
  content: "\e953";
}
.juta-portfolio-icon-printer:before {
  content: "\e954";
}
.juta-portfolio-icon-download:before {
  content: "\e960";
}
.juta-portfolio-icon-spinner:before {
  content: "\e97a";
}
.juta-portfolio-icon-key:before {
  content: "\e98d";
}
.juta-portfolio-icon-lock:before {
  content: "\e98f";
}
.juta-portfolio-icon-unlocked:before {
  content: "\e990";
}
.juta-portfolio-icon-cogs2:before {
  content: "\e995";
}
.juta-portfolio-icon-gift:before {
  content: "\e99f";
}
.juta-portfolio-icon-hammer2:before {
  content: "\e9a8";
}
.juta-portfolio-icon-power-cord:before {
  content: "\e9b7";
}
.juta-portfolio-icon-download3:before {
  content: "\e9c7";
}
.juta-portfolio-icon-sphere:before {
  content: "\e9c9";
}
.juta-portfolio-icon-earth:before {
  content: "\e9ca";
}
.juta-portfolio-icon-bookmark:before {
  content: "\e9d2";
}
.juta-portfolio-icon-warning:before {
  content: "\ea07";
}
.juta-portfolio-icon-cross:before {
  content: "\ea0f";
}
.juta-portfolio-icon-enter:before {
  content: "\ea13";
}
.juta-portfolio-icon-exit:before {
  content: "\ea14";
}
.juta-portfolio-icon-indent-increase:before {
  content: "\ea7b";
}
.juta-portfolio-icon-share2:before {
  content: "\ea82";
}
.juta-portfolio-icon-google-plus:before {
  content: "\ea8b";
}
.juta-portfolio-icon-facebook:before {
  content: "\ea90";
}
.juta-portfolio-icon-twitter:before {
  content: "\ea96";
}
.juta-portfolio-icon-youtube2:before {
  content: "\ea9e";
}
.juta-portfolio-icon-linkedin2:before {
  content: "\eaca";
}
.juta-portfolio-icon-chrome:before {
  content: "\ead9";
}
.juta-portfolio-icon-firefox:before {
  content: "\eada";
}
.juta-portfolio-icon-IE:before {
  content: "\eadb";
}
.juta-portfolio-icon-edge:before {
  content: "\eadc";
}
.juta-portfolio-icon-safari:before {
  content: "\eadd";
}
.juta-portfolio-icon-opera:before {
  content: "\eade";
}
.juta-portfolio-icon-file-pdf:before {
  content: "\eadf";
}
.juta-portfolio-icon-file-openoffice:before {
  content: "\eae0";
}
.juta-portfolio-icon-file-word:before {
  content: "\eae1";
}
.juta-portfolio-icon-file-excel:before {
  content: "\eae2";
}
.juta-portfolio-icon-libreoffice:before {
  content: "\eae3";
}
.juta-portfolio-icon-codepen:before {
  content: "\eae8";
}
.juta-portfolio-icon-barcode:before {
  content: "\f02a";
}
.juta-portfolio-icon-book3:before {
  content: "\f02f";
}
.juta-portfolio-icon-bookmark2:before {
  content: "\f030";
}
.juta-portfolio-icon-eye:before {
  content: "\f06e";
}
.juta-portfolio-icon-key2:before {
  content: "\f084";
}
.juta-portfolio-icon-cogs:before {
  content: "\f085";
}
.juta-portfolio-icon-gears:before {
  content: "\f085";
}
.juta-portfolio-icon-group:before {
  content: "\f0c0";
}
.juta-portfolio-icon-users:before {
  content: "\f0c0";
}
.juta-portfolio-icon-truck:before {
  content: "\f0d2";
}
.juta-portfolio-icon-gavel:before {
  content: "\f0e3";
}
.juta-portfolio-icon-legal:before {
  content: "\f0e3";
}
.juta-portfolio-icon-cc-visa:before {
  content: "\f1f0";
}
.juta-portfolio-icon-cc-mastercard:before {
  content: "\f1f1";
}
.juta-portfolio-icon-cc-paypal:before {
  content: "\f1f4";
}
.juta-portfolio-icon-facebook-official:before {
  content: "\f230";
}
.juta-portfolio-icon-user-plus:before {
  content: "\f234";
}
.juta-portfolio-icon-chrome2:before {
  content: "\f268";
}
.juta-portfolio-icon-firefox2:before {
  content: "\f269";
}
.juta-portfolio-icon-opera2:before {
  content: "\f26a";
}
.juta-portfolio-icon-internet-explorer:before {
  content: "\f26b";
}
.juta-portfolio-icon-edge2:before {
  content: "\f282";
}
.juta-portfolio-icon-warning2:before {
  content: "\e917";
}
.juta-portfolio-icon-open-book:before {
  content: "\e918";
}
.juta-portfolio-icon-uninstall:before {
  content: "\e919";
}
.juta-portfolio-icon-add-user:before {
  content: "\e900";
}
.juta-portfolio-icon-book9:before {
  content: "\e91a";
}
.juta-portfolio-icon-globe:before {
  content: "\e91c";
}
.juta-portfolio-icon-graduation-cap:before {
  content: "\e91d";
}
.juta-portfolio-icon-network:before {
  content: "\e901";
}
.juta-portfolio-icon-dropbox:before {
  content: "\e91e";
}
.juta-portfolio-icon-yelp:before {
  content: "\e922";
}
.juta-portfolio-icon-dribbble:before {
  content: "\e924";
}
.juta-portfolio-icon-linkedin:before {
  content: "\e925";
}

