li.listItem{
	list-style: none;
}

div.expand:before {
	content: "-";
	margin-right: 4px;
	float : left;
}

div.collapse:before {
    content: "+";
	margin-right: 4px;
	float : left;
}

div.text.select{
	text-decoration:underline;
}

#root ul{
	margin-bottom: 0rem;
}