/* Some defaults */
/* =============================================================================
   Application Styles
   ============================================================================= */
.ds-timerstat h3,
.ds-singlestat h3 {
  color: #737380; }

.well .ds-timerstat h3,
.well .ds-singlestat h3 {
  color: #A95353; }

.ds-dashboard .well {
  background-color: rgba(0, 0, 0, 0.07); }

.ds-timerstat .unit,
.ds-singlestat .unit,
.ds-jumbotron-singlestat .unit {
  color: gray; }

.ds-jumbotron-singlestat h3 {
  color: #a6a699; }

h1 .ds-primary-title {
  color: gray; }

/* Alerts */
.alert-neutral,
.bs-callout-neutral {
  background-color: #f0f0f0;
  border-color: gray; }
  .alert-neutral h1, .alert-neutral h2, .alert-neutral h3, .alert-neutral h4, .alert-neutral h5, .alert-neutral h6,
  .bs-callout-neutral h1,
  .bs-callout-neutral h2,
  .bs-callout-neutral h3,
  .bs-callout-neutral h4,
  .bs-callout-neutral h5,
  .bs-callout-neutral h6 {
    color: #767676; }

.alert-info,
.bs-callout-info {
  background-color: #d9edf7;
  border-color: #5bc0de; }
  .alert-info h1, .alert-info h2, .alert-info h3, .alert-info h4, .alert-info h5, .alert-info h6,
  .bs-callout-info h1,
  .bs-callout-info h2,
  .bs-callout-info h3,
  .bs-callout-info h4,
  .bs-callout-info h5,
  .bs-callout-info h6 {
    color: #31708f; }

.alert-success,
.bs-callout-success {
  background-color: #dff0d8;
  border-color: #5cb85c; }
  .alert-success h1, .alert-success h2, .alert-success h3, .alert-success h4, .alert-success h5, .alert-success h6,
  .bs-callout-success h1,
  .bs-callout-success h2,
  .bs-callout-success h3,
  .bs-callout-success h4,
  .bs-callout-success h5,
  .bs-callout-success h6 {
    color: #3c763d; }

.alert-warning,
.bs-callout-warning {
  background-color: #fcf8e3;
  border-color: #f0ad4e; }
  .alert-warning h1, .alert-warning h2, .alert-warning h3, .alert-warning h4, .alert-warning h5, .alert-warning h6,
  .bs-callout-warning h1,
  .bs-callout-warning h2,
  .bs-callout-warning h3,
  .bs-callout-warning h4,
  .bs-callout-warning h5,
  .bs-callout-warning h6 {
    color: #8a6d3b; }

.alert-danger,
.bs-callout-danger {
  background-color: #f2dede;
  border-color: #d9534f; }
  .alert-danger h1, .alert-danger h2, .alert-danger h3, .alert-danger h4, .alert-danger h5, .alert-danger h6,
  .bs-callout-danger h1,
  .bs-callout-danger h2,
  .bs-callout-danger h3,
  .bs-callout-danger h4,
  .bs-callout-danger h5,
  .bs-callout-danger h6 {
    color: #a94442; }

.ds-warning h3, .ds-warning .value, .ds-warning .unit {
  color: #f0ad4e; }

.ds-danger h3, .ds-danger .value, .ds-danger .unit {
  color: #d9534f; }

#ds-tooltip {
  color: black;
  background-color: white;
  border: 1px solid #888; }

.flotValueLabel {
  color: gray;
  border-left-color: #a95353; }

/* -----------------------------------------------------------------------------
   Edit mode headers
   ----------------------------------------------------------------------------- */
/*
 * Section
 */
.ds-badge-section {
  background-color: #387AA3; }

.ds-edit-bar-section {
  background-color: #9DC2D3;
  border: 1px solid #387AA3; }

/*
 * Row
 */
.ds-badge-row {
  background-color: #649EB9; }

.ds-edit-bar-row {
  border: 1px solid #649EB9;
  background-color: #D9EDF7; }

.ds-row.ds-edit {
  border: 1px solid #649EB9; }

/*
 * Cell
 */
.ds-badge-cell {
  background-color: #649EB9;
  border: 1px solid #9DC2D3; }

.ds-edit-bar-cell {
  background-color: #E3F7FF;
  border: 1px solid #9DC2D3; }

/*
 * Item
 */
.ds-badge-item {
  background-color: #D9EDF7;
  color: #387AA3;
  border: 1px solid #649EB9; }

.ds-edit-bar-item {
  background-color: #FAFAFA;
  border: 1px solid #649EB9; }

/*# sourceMappingURL=tessera-light.css.map */