; vim: set fileencoding=utf-8 :
; Manuel Guenther <manuel.guenther@idiap.ch>
; Thu Oct  9 16:51:06 CEST 2014

[buildout]
parts = scripts
eggs = challenge.uccs

extensions = bob.buildout
             mr.developer
auto-checkout = *

develop = src/bob.ip.facedetect
          .

; options for bob.buildout
debug = false
verbose = true
newest = false

[sources]
bob.ip.facedetect = git https://gitlab.idiap.ch/bob/bob.ip.facedetect.git branch=better_multiple_detection

[scripts]
recipe = bob.buildout:scripts
dependent-scripts = false
